.staked-container {
  background: linear-gradient(311deg, #121212, #0c0c0c);
  height: auto;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.box {
  border: 1px solid green;
  width: 80%;
  background: linear-gradient(311deg, #121212, #0c0c0c);
  box-shadow: 0 20px 20px 0 rgb(0 0 0 / 39%);
  border-radius: 12px;
  border: 1px solid rgba(68, 67, 67, 0.47);
  padding: 50px;
}
.staked-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.staked-heading {
  font-weight: 500;
  color: #ced3d9;
  line-height: 22px;
  font-size: 24px;
}
.staked-subheading {
  font-weight: 800;
  color: #ced3d9;
  line-height: 41px;
  margin-top: 25px;
  font-size: 35px;
}
@media (max-width: 768px) {
  .staked-heading {
    font-size: 20px;
  }
  .staked-subheading {
    font-size: 25px;
  }
  .input-field-3 {
    width: 300px;
  }
}
.input-field-3 {
  width: 600px !important;
  border: 1px solid #918256 !important;
  background: transparent;
  padding: 5px 15px;
  color: #ced3d9 !important;
}
