.nav-logo {
  width: auto;
  height: 55px;
  cursor: pointer;
}
.nav-link {
  cursor: pointer !important;
  padding: 10px 14px !important;
  font-weight: 700 !important;
  color: #fff;
}
.nav-link:active {
  color: #edd083 !important;
}
.nav-link:hover {
  color: #edd083 !important;
}
.btn-connect {
  cursor: pointer;
  background: #232229;
  border: 1px solid #4f4e53;
  border-radius: 8px;
  margin-right: 17px;
  padding: 5px 15px;
  font-weight: 700 !important;
  color: #ced3d9;
}
.active {
  color: #edd083 !important;
}
